---
layout: default
---

<section class="prose reveal">
  <h1>{{ page.title }}</h1>
  {% if page.date or page.author %}
  <p class="list-meta">
    {% if page.date %}{{ page.date | date: "%B %-d, %Y" }}{% endif %}
    {% if page.author %}{% if page.date %} &middot; {% endif %}{{ page.author }}{% endif %}
  </p>
  {% endif %}
  {{ content }}
</section>

{% if page.comments != false %}
<div class="commentbox" id="{{ page.url | absolute_url }}"></div>

<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
<script>
  commentBox('5743945774530560-proj', {
    className: 'commentbox',
    defaultBoxId: '{{ page.url | absolute_url }}'
  });
</script>
{% endif %}
